<form action="{{ url_for('editBook',book_id = book.id)}}" method="post">
  <div class="form-group">
    <label for="name">Название:</label>
    <input type="text" class="form-control" name="name" value="{{book.title }}">
    <label for="author">Автор:</label>
    <input type="text" class="form-control" name="author" value="{{book.author }}">
    <label for="genre">Издательство:</label>
    <input type="text" class="form-control" name="genre" value="{{book.genre }}">
    <button type="submit"> SAVE</button>
  </div>
</form>
<a href='{{url_for('showBooks')}}'>
  <button>Cancel</button>
</a>
